.mainFieldFinal {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 457px;
    width: 430px;
}
.mainFieldFinal>p {
    margin-top: -10px;
    margin-bottom: 40px;
    color: grey;
    text-align: center;
}
.mainFieldFinal>h1 {
    color: hsl(213, 96%, 18%);
}

@media screen and (max-width: 700px) {
    .mainFieldFinaln {
        width: 100%;
    }
}